In [ ]:
# Python code to demonstrate table creation and insertions with SQL 

# importing module 
import sqlite3 

# connecting to the database 
connection = sqlite3.connect("myTable.db") 

# cursor 
crsr = connection.cursor() 

# SQL command to create a table in the database 
sql_command = """CREATE TABLE word (str VARCHAR(20));"""

# execute the statement 
crsr.execute(sql_command)

In [28]:
# SQL command to insert the data in the table 
sql_command = """INSERT INTO word VALUES ("FooBar");"""
sql_command = """INSERT INTO word VALUES ("foobar");"""
sql_command = """INSERT INTO word VALUES ("bookworm");"""
crsr.execute(sql_command) 

# To save the changes in the files. Never skip this. 
# If we skip this, nothing will be saved in the database. 
connection.commit()

In [34]:
# close the connection at the end
# connection.close()

In [30]:
# execute the command to fetch all the data from the table emp 
crsr.execute("SELECT * FROM word")  
  
# store all the fetched data in the ans variable 
ans= crsr.fetchall()
print(ans)

[('FooBar',), ('foobar',), ('bookworm',)]

In [31]:
# Let's check total that have 'oo' in the string. It should return 3 as all records have it.
print(crsr.execute("SELECT count(*) FROM word WHERE str LIKE '%oo%'").fetchall())

[(3,)]

In [32]:
# Let's check the total count and values where we have upper case letter. 'Only FooBar should come up as a result'
print(crsr.execute("SELECT str, Count(*) FROM word WHERE LOWER(str) != str").fetchall())

[('FooBar', 1)]

In [33]:
# Let's check the total count where the string starts with 'F'. Only 2 records are true and the count should be 2
print(crsr.execute("SELECT Count(*) FROM word WHERE str LIKE 'f%' OR str LIKE 'F%' ").fetchall())

[(2,)]